<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>935946788401-ib5g2eeun9bif8h23m74s36631o0r3mp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.935946788401-ib5g2eeun9bif8h23m74s36631o0r3mp</string>
	<key>API_KEY</key>
	<string>AIzaSyBmRvmyRkRVWaCgyHTjuDBKTHsu76h-8d8</string>
	<key>GCM_SENDER_ID</key>
	<string>935946788401</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.demoFlutter</string>
	<key>PROJECT_ID</key>
	<string>flutter-springboot</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-springboot.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:935946788401:ios:38d2992f1209cf4ee3ff10</string>
</dict>
</plist>